$brandColor: #663B97;

body {
  background: white;
  color: #333;
  font: normal normal normal 18px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

small {
  color: #6f6f6f;
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.mobile-only {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px 80px;

  &.wide {
    max-width: 1368px;
    padding-left: 0;
    padding-right: 0;
  }

  blockquote {
    box-sizing: border-box;
    border-left: 6px solid #eee;
    font-style: italic;
    margin-left: 0;
    padding-left: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
    margin-top: 2em;
  }

  p {
    margin-bottom: 1em;
    margin-top: 0;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  td, th {
    border: 1px solid #ddd;
    font-size: 0.9em;
    padding: 6px 12px;
  }
}

.main-heading {
  text-align: center;
}

.site-header {
  overflow: hidden;
  padding: 38px 0 21px;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    padding: 35px 0 17px;
  }
}

.site-header-background {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1366px;
  z-index: 1;
}

.site-header-branding {
  margin: 0 auto;
  position: relative;
  width: 100px;
  z-index: 2;
}

.site-header-heading {
  margin: 21px auto 0;
  position: relative;
  width: 250px;
  z-index: 2;

  @media (min-width: 768px) {
    margin: 15px auto 0;
    width: 394px;
  }
}

.site-navigation-list {
  align-items: center;
  background: $brandColor;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.site-navigation-link {
  color: white;
  display: block;
  font-size: 13px;
  line-height: 1;
  padding: 12px 9px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: lighten($brandColor, 10%);
  }

  &[aria-current="page"] {
    background: darken($brandColor, 10%);
  }

  @media (min-width: 768px) {
    font-size: 15px;
    margin: 0 8px;
    padding: 14px 18px;
  }
}

.services-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.services-item {
  flex: 1;

  @media (min-width: 768px) {
    margin-left: 1px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.services-image {
  opacity: 0.85;
  transition: opacity 300ms;
}

.services-link {
  background: black;
  display: block;
  position: relative;

  &:hover {
    .services-image {
      opacity: 1;
    }

    .services-name {
      background: $brandColor;
      color: white;
    }
  }
}

.services-name {
  background: rgba(255, 255, 255, 0.8);
  bottom: 47px;
  border: 1px solid $brandColor;
  border-radius: 15px;
  color: $brandColor;
  display: block;
  font-weight: 500;
  font-size: 14px;
  left: 50%;
  letter-spacing: 0.7px;
  line-height: 17px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 186px;
  word-wrap: anywhere;

  @media (min-width: 768px) {
    border-radius: 18px;
    bottom: 58px;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 22px;
    width: 218px;
  }
}

.services-blurb {
  font-size: 16px;
  line-height: 1.3125;
  padding: 29px 48px 48px;

  @media (min-width: 768px) {
    padding: 35px 58px;
  }
}

.site-footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1368px;

  .site-footer-quote {
    flex-basis: 33.3333%;
    min-width: 33.3333%;
  }

  .site-footer-social {
    flex-basis: 66.6667%;
    min-width: 66.6667%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.site-footer-quote-blockquote {
  border-top: 3px solid $brandColor;
  font-size: 16px;
  line-height: 1.3125;
  margin: 29px 48px 0;
  padding: 34px 0;
  position: relative;

  @media (min-width: 768px) {
    margin: 35px 58px 0;
    padding: 44px 0 0;
  }
}

.site-footer-quote-image {
  background: white;
  box-sizing: content-box;
  left: 50%;
  position: absolute;
  padding: 0 12px;
  top: 0;
  transform: translate(-50%, -50%);
  width: 34px;
}

.site-footer-social-heading {
  margin: 15px auto 0;
  width: 242px;
}

.site-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 13px;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    padding: 0 27px;
  }
}

.site-footer-social-item {
  box-sizing: border-box;
  flex-basis: 33.3333%;
  min-width: 33.3333%;
  padding: 5px;

  @media (min-width: 768px) {
    flex-basis: 20%;
    min-width: 20%;
    padding: 6px;
  }
}

.teacher-image {
  margin: 1em 0;

  @media (min-width: 768px) {
    float: right;
    margin: 0 0 1em 1em;
    width: 50%;
  }
}

.schedule-row {
  @media (min-width: 768px) {
    border: 1px solid #eee;
    display: flex;
  }
}

.schedule-column {
  flex: 1;
}

.schedule-page {
  overflow-y: hidden;

  @media (min-width: 768px) {
    overflow-y: auto;
  }
}

.schedule-fixed-on-mobile {
  background: #eee;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 265px;
  right: 0;
  z-index: 1;

  &::before {
    align-items: center;
    bottom: 0;
    content: 'Loading schedule...';
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  iframe {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.landing-page {
  padding-bottom: 0;
}

.markdown-content {
  img {
    margin: 2em 0;
  }
}
